*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    animation: slideBg 8s linear infinite 0s;
    animation-timing-function: ease-in-out;
    background-image: url(https://wallpaper.dog/large/10915048.jpg);
}
@keyframes slideBg {
    0% {   
        background-image: url(https://wallpaper.dog/large/10915048.jpg), url(https://www.teahub.io/photos/full/9-91726_destiny-2-wallpaper-cayde.jpg)
    }
    25% {   
        background-image: url(https://www.teahub.io/photos/full/9-91726_destiny-2-wallpaper-cayde.jpg), url(https://images4.alphacoders.com/174/174574.jpg)
    }
    50% {   
        background-image: url(https://images4.alphacoders.com/174/174574.jpg), url(https://cdn.wallpapersafari.com/73/75/BOE5yT.jpg)
    }
    75% {   
        background-image: url(https://cdn.wallpapersafari.com/73/75/BOE5yT.jpg), url(https://s2.best-wallpaper.net/wallpaper/3840x1200/1807/Horizon-Zero-Dawn-archer-girl-PS4-games_3840x1200.jpg)
    }
    90% {   
        background-image: url(https://s2.best-wallpaper.net/wallpaper/3840x1200/1807/Horizon-Zero-Dawn-archer-girl-PS4-games_3840x1200.jpg)
    }
    100% {   
        background-image: url(https://wallpaper.dog/large/10915048.jpg)
    }
}


.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 100%;
    height: 100vh;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img {
    max-height: 50rem;
}

.instagram-continue {
    display: flex; 
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    background-position: center;
    width: 60%;
    padding: 1.3rem 0; 
    border: 1px solid lightgray;
}

.group:nth-child(1) {
    min-height: 19rem;
}

.gamergram-logo {
    height: 6rem;
}

.profilephoto {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profilephoto img {
    height: 6rem;
}

.instagram-login {
    background-color: #8700f6;
    margin-top: 2rem;
    color: white;
    padding: 8px;
    border-radius: 4px;
}

.instagram-logout {
    color: #0095f6;
    margin-top: 1rem;
}


.not-account {
    color: rgb(160,  160, 160);

}

.link-blue {
    color: #0095f6;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.app-download {
    height: auto;
    width: auto;
}

.app-download:nth-child(1) {
    background-image: url(https://e7.pngegg.com/pngimages/488/584/png-clipart-app-store-iphone-apple-mobile-app-iphone-electronics-text.png);
    background-position: center;
    background-size: 10rem;
    background-repeat: no-repeat;
    height: 3.0rem;
    width: 9.22rem;
    border-radius: 6%;
}

.app-download:nth-child(2) {
    background-image: url(https://w7.pngwing.com/pngs/366/351/png-transparent-google-play-store-logo-google-play-app-store-android-wallets-text-label-logo.png);
    background-position: center;
    background-size: 11rem;
    background-repeat: no-repeat;
    height: 2.7rem;
    width: 9.5rem;
}

/* media queries */

@media (max-width: 1024px) {
    .instagram-wrapper {
        width: 90%;
    }
    .gamergram-logo {
        max-width: 100%;
        min-width: 50%;
        width: auto;
    }
}

@media (max-width: 950px) {
    body {
        background-color: #ffffff;
        background-blend-mode: color;
    }

    .instagram-wrapper {
        width: 100%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-continue {
        width: 100%;
    }
    
    .group {
        border: 1px solid transparent;
    }

    .gamergram-logo {
        max-width: 100%;
        min-width: 50%;
        width: auto;
    }
}